<script>
  import CC from "$lib/ui/CodeInline.svelte";
  import Card from "$lib/ui/Card.svelte";
  import Img from "$lib/ui/Image.svelte";
  import Ds_1 from "./designs/design_1.svelte";
  import Ds_2 from "./designs/design_2.svelte";
</script>

<h1>Custom visualizations</h1>
<p>
  Earlier in the course, you created custom designs to visualize an energy
  consumption dataset. We have picked two of your designs for you to implement
  in the resit assignment.
</p>

<h5>Design 1</h5>
<Img
  src="/img/polar_glyph.png"
  caption="Design 1: Heating and cooling energy use over multiple months. "
  width="600"
/>
<p>
  This design shows energy used for heating and cooling over time as a path in a
  polar plot. Each line corresponds to a city differentiated by their marker
  shapes. The markers act as pie-chart indicating the percentage of cooling and
  heating energy and their sizes encode the total energy used per month. Don't
  forget to add cocentric circles in the background of your visualization to act
  as the radius-axis' grid marks to improve legibility. You don't have to
  implement the legends for this exercise.
</p>
<p>
  The main component for this design is located at <CC
    code="src/routes/resit_project/designs/design_1.svelte"
  /> and you can load the data from <CC
    code="/data/monthly_heating_cooling.csv"
  />. Before you start coding, think about how you want to structure your
  visualization and create the sub-components you need using the <CC
    code="_design_1_*.svelte"
  /> naming scheme.
</p>
<Card><Ds_1 /></Card>

<h5>Design 2</h5>
<Img
  src="/img/scatter_glyph.png"
  caption="Design 2: Heating and cooling energy use over multiple months."
  width="600"
/>
<p>
  This scatter plot design shows the monthly total energy used for heating and
  cooling. The glyphs' Y-positions indicate the total energy used across all
  cities and their X-positions indicate the month. The lines of each glyph
  encode a city's individual energy use by their length. You don't have to
  implement the legends for this exercise, but do indicate which line
  corresponds to which city at least once (for example in text below your
  visual).
</p>
<p>
  The main component for this design is located at <CC
    code="src/routes/resit_project/designs/design_2.svelte"
  /> and you can load the data from <CC
    code="/data/monthly_heating_cooling.csv"
  />. Before you start coding, think about how you want to structure your
  visualization and create the sub-components you need using the <CC
    code="_design_2_*.svelte"
  /> naming scheme.
</p>
<Card><Ds_2 /></Card>
